/* Write your CSS here */
.list_app {
  height: 150px;
  width: 140px;
  border-radius: 7px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  margin: 10px;
}
.project-item-image {
  height: 100px;
  width: 100px;
}
.app-name {
  color: #1e293b;
  font-family: Bree Serif;
  font-size: 15px;
  font-weight: 500;
}
